button {
    margin: 0.2rem;
    width: 2rem;
    height: 2rem;
	font-size: 0.7rem;
    color: white;
    border: none;
    border-radius: 10px;
    background:  linear-gradient(-155deg, #f9c291, #836447);
    box-shadow: -1px 1px 3px #964d0b;
}
button img {
    width: 100%;
}
.icons {
    display:flex;
}
button.choose {
    background: linear-gradient(-155deg, #f9c291, black);
    cursor: pointer;
}
button.chosen {
    background: linear-gradient(-155deg, #f9c291, #f98012);
    cursor: pointer;
}
button.choose:hover, button.chosen:hover {
    background:  linear-gradient(-155deg, #f9c291, #836447);
    cursor: pointer;
}
#pick {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}